<div class="principal">

  <div class="search-filter" fxLayout="row" fxLayoutAlign="end center">
    <input type="text" placeholder="Buscar ..." [formControl]="keywordCtrl">
    <div class="button-add">
      <button mat-fab color="accent" tooltip="Agregar Procuto" (click)="addProduct()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="table-dynamic">
    <dynamic-table [columns]="displayedColumns" [data]="$list" [canAddItem]="false" [canFilter]="false" [pageSize]="5"
      [filterControl]="keywordCtrl">
    </dynamic-table>
  </div>
</div>