<div class="product-list" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="space-evenly start" style="margin-top: 100px;">
  <div *ngFor="let product of products" class="product-item" fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
    <img [src]="product.image | resizeImage:200:200 | async" alt="Imagen del producto">
    <p style="padding-top: 10px; padding-bottom: 10px;">{{product.name}}</p>
    <p style="padding-top: 10px; padding-bottom: 10px;">Precio: ${{ product.price }}</p>
    <p style="padding-top: 10px; padding-bottom: 10px;">Técnicas: {{ product.technicalSpecs }}</p>
    <p style="padding-top: 10px; padding-bottom: 10px;">Fisicas: {{ product.physicalSpecs }}</p>
    <!-- <button mat-button (click)="viewMore(product)">Ver Más</button> -->
  </div>
</div>

