<!-- products-grid.component.html -->
<div class="product-form">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Especificaciones Técnicas</mat-label>
      <input matInput formControlName="technicalSpecs">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Especificaciones Físicas</mat-label>
      <input matInput formControlName="physicalSpecs">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Agregar Producto</button>
  </form>
</div>

<div class="product-list">
  <div *ngFor="let product of products" class="product-item">
    <img [src]="product.imageUrl" alt="Imagen del producto">
    <p>Precio: {{ product.price }}</p>
    <button mat-button (click)="viewMore(product)">Ver Más</button>
  </div>
</div>
